@import "tailwindcss/preflight";
@tailwind utilities;

:root{
    --background-primary: #f3f4f6;
    --background-secondary: #e5e7eb;
    --background-tertiary: #d1d5db;

    --font-primary: #030712;
    --font-secondary: #111827;
    --font-tertiary: #1f2937;

    --color-primary: #16a34a;
}

:root.dark{
    --background-primary: #111827;
    --background-secondary: #1f2937;
    --background-tertiary: #374151;

    --font-primary: #f3f4f6;
    --font-secondary: #e5e7eb;
    --font-tertiary: #d1d5db;

    --color-primary: #16a34a;
}